@model IEnumerable<EcommerceDemo.Models.Product>
<h3>Product</h3>
<div id="assetTable">
    <table class="table table-condensed" id="catalogIndexTable">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product-Name</th>
                <th>Price</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var items in Model)
            {
                <tr class="assetRow">
                    <td class="">
                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@items.Id">
                            <img src="@items.ImageUrl" class="imageCell" />
                        </a>

                    </td>
                    <td class=""> @items.Name</td>
                    <td class=""> @items.Price</td>


                </tr>
            }


        </tbody>

    </table>
</div>


